.vid-angry {
  -webkit-filter: saturate(350%);
}

.vid-entry {
  -webkit-transition-duration: 4s;	
  -webkit-transform: rotateY(180deg) !important;
}

.vid-sick {
  -webkit-filter: hue-rotate(180deg);
}

/* Make transforms look cool. */
video {
   -webkit-transition-property: -webkit-transform;
   width: 455px !important;
   height: 340px !important;
}

.no-duration {
   -webkit-transition-duration: 0s;
}

#myPublisherDiv {
  display: inline-block;
}

#videoDiv {
  display: inline-block;
}

.big-video {
  width: 455px !important;
  height: 340px !important;
}

.hide {
	display: none;
}

#page0 {
  display: block;
}

#page1 {
display: none;
}

#page2 {
display: none;
}

#page3 {
display: none;
}

.med-textarea {
	width: 505px;
	height: 60px;
}

.left-align {
	margin-left: 10px;
}

.more-left-align {
	margin-left: 20px;
}

/* Hover card. */
.signin-box, .accountchooser-box {
margin: 12px 0 0;
padding: 20px 25px 15px;
background: #f1f1f1;
border: 1px solid #e5e5e5;
}

.signin-box input[type=submit] {
margin: 0 1.5em 1.2em 0;
height: 32px;
font-size: 13px;
}

.g-button-submit {
color: white;
background-color: #357ae8;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
background-image: linear-gradient(top,#4d90fe,#357ae8);
-webkit-box-shadow: inset 0 1px 2px rgb a(0,0,0,0.3);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.interests-img {
  position: absolute;
  top: -100px;
}

.peoples-img {
}
