/* Sandbar */
.sandbar {
  background-color: black;
}

.sandbar ol {
  -webkit-padding-start: 0px;
  -webkit-margin-after: 0px;
}

.sandbar li {
  padding-left: 20px;
  display: inline;
  font-family: arial,sans-serif;
  font-size: 14px;
}

.sandbar a {
  color: white;
  text-decoration: none;
}

.sandbar .current {
  font-weight: bold;
}

.sandbar .hackypopout {
  position: absolute;
  background-color: black;
  left: 680px;
}

.sandbar .hackypopout li {
  padding: 0;
}

#SimulationTab {
  background-color: whiteSmoke;
}
#StockHistoryTab {
  background-color: whiteSmoke;
}
#StockComparisonTab {
  background-color: whiteSmoke;
}

.niceTable {
  border: 1px solid black;
  border-collapse: collapse;
}
.niceTable td {
  border: 1px solid lightgrey;
}

/* Jquery tabs stuff. */
.tabs li {
	list-style:none;
	display:inline;
}

.tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#fff;
	color:black;
	text-decoration:none;
}

.tabs a.active {
	background:green;
	color:#fff;
}

/* Jquery autocomplete stuff. */
.autocomplete-w1 { position:absolute; top:0px; left:0px; margin:6px 0 0 6px; /* IE6 fix: */ _background:none; _margin:1px 0 0 0; }
.autocomplete { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#3399FF; }

#ticker {
  width: 412px;
}

#tickerCmp {
  width: 412px;
}
