<tr>
  <td class="x-icon" id=${removeId} style="cursor:pointer;"></td>
  <!--  btn btn-info -->
  <td><div class="" style="width:80px;"><textarea style="width:80px;">${day} ${time}</textarea></div></td>
  <td><textarea style="width:200px;">${content}</textarea></td>

  {{if check == 'green'}}
    <td class="green-check"></td>
  {{/if}}
  {{if check == 'orange'}}
    <td class="right-arrow" id=${item}></td>
  {{/if}}
  {{if check == ''}}
    <td></td>
  {{/if}}

  <td style="cursor:pointer; position:relative;" id=${responseId}>${response}
  	{{if responseImage != ''}}
      <div class="response-image" style='display:none;'><img src=${responseImage}></img></div>
    {{/if}}
  </td>
</tr>