body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

#distrib {
  width: 100%;
}

/* Jquery tabs stuff. */
.tabs li {
	list-style:none;
	display:inline;
}

.tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#fff;
	color:black;
	text-decoration:none;
}

.tabs a.active {
	background:green;
	color:#fff;
}

/* Multiple distributions. */
.multi-distrib-csv {
	width: 400px;
	height: 400px;
}

.multi-results {
	font-size: 150%;
}