<html>
  <head>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/mixpanel.js" type="text/javascript"></script>
    <script src="js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript"></script>
    <script src="js/home_controller.js" type="text/javascript"></script>
    <script src="js/simulation.js" type="text/javascript"></script>
    <script src="js/stockhistory.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="sandbar">
      <ol>
        <li><a href="/education">Education</a></li>
        <li class="current"><a href="/">Finance</a></li>
        <li><a href="/health">Health</a></li>
        <li><a href="/easydo_preferences">Flights</a></li>
        <li><a href="/gameportal">Games</a></li>
        <li><a href="/speedreading">Reading</a></li>
        <li><a href="/stats">Stats</a></li>
        <li><a href="/imageizer">VidChat!</a></li>
        <li><a href="/puzzles">Puzzles</a></li>
        <!-- <li><a href="#" id="moreLink">More</a> -->
      </ol>
      <ol class="hackypopout" id="moreFlyout" style="display:none;">
        <li style="padding-left:0px;">
          <a href="speed_reading">Reading</a>
        </li>
      </ol>
      <script>
        var moreLink = $('#moreLink');
        moreLink.click(function(e) {
          var flyout = $('#moreFlyout');
          var display = flyout.css('display');
          var newDisplay = display == 'none' ? 'block' : 'none';
          flyout.css('display', newDisplay);  
        });
      </script>
    </div>
    <ul class='tabs'>
      <li><a href='#SimulationTab'>Simulation</a></li>
      <li><a href='#StockHistoryTab'>Stock History</a></li>
      <li><a href='#StockComparisonTab'>Stock Comparisons</a></li>
    </ul>
    <div id="SimulationTab">
		  <div id="SimulationUserInput">
		    <table>
					<tr>
						<td>Number of years:</td>
						<td><input id="numYears" value="200"/></td>
					</tr>
					<tr>
						<td><input id="runSimulation" type="submit" value="Run simulation!"/></td>
					</tr>
		    </table>
		  </div>
		  <div id="SimulationResults" />
    </div>
    </div>

    <div id="StockHistoryTab">
      <div id="StockHistoryInput">
        <table>
          <tr>
            <td><input id="ticker" value="GOOG" placeholder="Enter ticker (GOOG)"></input></td>
            <td><select id="whichYear"></select></td>
            <td><input id="runStockHistory" type="submit" value="Search"></input></td>
          </tr>
        </table>
      </div>
      <div id="StockHistoryResults" />
    </div>
    </div>

    <div id="StockComparisonTab">
      <div id="StockComparisonInput">
        <div>-1 = inverse correlation. 0 = no correlation. 1 = positive correlation.</div>
        <table>
          <tr>
            <td><input id="tickerCmp" value="JAVTX,OAKIX,HIINX,BIAGX,NOSGX,DGAGX,PQIAX" placeholder="Enter tickers (GOOG, MSFT)"></input></td>
            <td><select id="whichYearCmp"></select></td>
            <td><input id="runStockComparison" type="submit" value="Search"></input></td>
          </tr>
        </table>
      </div>
      <div id="StockComparisonResults" />
    </div>
  </body>
</html>
