<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="proj/education/js/gooru.js"></script>
  </head>
  <body>
    <div id="results">
    </div>
    <div>
      <span>Search: </span>
      <input type="text" placeholder="history" id="searchGooruInput">
      <div id="searchGooruResults"></div>
    </div>
  </body>
  <script>
    var entries = {{entries|safe}};
    var resEl = $('#results');
    for (var i = 0; i < entries.length; i++) {
      var child = $('<pre>' + entries[0] + '</pre>');
      resEl.append(child);
    }
  </script>
</html>
