<html>
  <style>
    .wideInput {
      width: 230px;
    }
  </style>
  <head>
    <link rel="stylesheet" href="css/main.css"></link>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  <script src="js/main.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="proj/education/js/controller.js"></script>
    <script src="proj/education/js/gooru.js"></script>
  </head>
  <body>
<div ng-app="myApp0">
<myheader>
</myheader>
</div>

    <div id="results">
    </div>
    <div>
      <span>Search: </span>
      <input type="text" placeholder="cells" id="searchGooruInput" class="wideInput"
        list="popularQueries">
      <datalist id="popularQueries">
        {% for query in popular_queries %}
          <option value="{{query}}">
        {% endfor %}
      </datalist>
      <div id="searchGooruResults"></div>
    </div>
  </body>
  <script>
    var entries = {{entries|safe}};
    var resEl = $('#results');
    for (var i = 0; i < entries.length; i++) {
      var child = $('<pre>' + entries[0] + '</pre>');
      resEl.append(child);
    }
  </script>
</html>
