<html>
<head>
<style type="text/css">

textarea {
	width:300px;
		height:300px;
}

input {
	width: 300px;
}

.gooseiframe {
	width: 290px;
		height: 77px;
		overflow: hidden;
		scrolling: no;
		frameborder: 0;
}

</style>
<link rel="stylesheet" href="css/main.css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
<script src="js/main.js"></script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/3.0.0/build/yui/yui-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/gallery-2010.01.27-20/build/gallery-yql/gallery-yql-min.js"></script>

<script type="text/javascript" src="/proj/reading/js/speedreading.js">
</script>
</head>
<body>
<div ng-app="myApp0">
<myheader>
</myheader>
</div>
<table>
<td>
<p>Place text here: </p>
<textarea id="textEntry">
</textarea>
<p>Or provide a URL with an article or text: </p>
<form>
<input id="articleWebsiteAddress"> </input>

<!--<iframe class="gooseiframe" id="article" name="article" src="http://jimplush.com/blog/goose#url"></iframe>-->
<!-- Start speed reading button -->
<p></p>
<button type="button" onclick="speedRead()" id="startButton"> Start reading </button>
<button type="button" onclick="reader.stopShowing()" id="stopButton" disabled='disabled'> Pause </button>
</form>

<!-- Options -->
<table>
<td>
<p>Word chunks: </p>
<select id="wordChunks">
</select>
</td>

<td>
<p> Words per minute: </p>
<select id="wordsPerMinute">
</select>
</td>
</table>
<!-- End of options and reading entry level -->
</td>

<td>
<div id="updateArea"> </div>
<p id="readingArea">
</p>
</td>

</table>
</body>
</html>
