.vid-angry {
  -webkit-filter: saturate(350%);
}

.vid-entry {
  -webkit-transition-duration: 4s;	
  -webkit-transform: rotateY(180deg) !important;
}

.vid-sick {
  -webkit-filter: hue-rotate(180deg);
}

/* Make transforms look cool. */
video {
   -webkit-transition-property: -webkit-transform;
   width: 455px !important;
   height: 340px !important;
}

.no-duration {
   -webkit-transition-duration: 0s;
}

#myPublisherDiv {
  display: inline-block;
}

#videoDiv {
  display: inline-block;
}

.big-video {
  width: 455px !important;
  height: 340px !important;
}

.hide {
	display: none;
}