<!DOCTYPE html> 
<html> 
  <head> 
  <title>My Page</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
  <style>
    #thepage{ max-width:250px; }
    #footer { position:absolute; bottom: 0;}
  </style>
</head> 
<body> 
<div data-role="page" id="thepage">
  <ul id="gamelist" data-role="listview" data-theme="c"></ul>
  <div id="footer">
    <a href="proj/games/popnumbers/addmodal.html" data-role="button" data-icon="plus"
        id="addButton">Add</a>
  </div>
</div>
<script>
var Android = {}; Android.redirect = function(url) { window.location.href = url;}; Android.sendMessage = function(str) {window.console.log('Sending message: ' + str)};

  // Jibe JS API.
var jibe = {};
jibe.receiveMessage = function(str) {
  ctrl.messageHandler(str);
};

jibe.sendMessage = function(str) {
  Android.sendMessage(str);
};
</script>
<script>
var ctrl = {};
ctrl.listId = 'gamelist';
ctrl.addButtonId = 'addButton';
ctrl.refreshButtonId = 'refreshButton';
ctrl.pendingGames = []; // A list of tuples (url, displyable name.)

// For message passing.
ctrl.state = {
  'action': '',
  'data': ''
};

// Gets the raw string that was sent from the client.
ctrl.messageHandler = function(str) {
  var state = JSON.parse(str);

  if (state.action == 'redirect') {
    var redirectUrl = state.data;
    Android.redirect(redirectUrl);
  } else if (state.action == 'giveGameAndRedirect') {
    var game = state.data;
    // Save game to their local storage.
    ctrl.saveLocalGame(game);
    ctrl.addGame(game); // Add the game visually temporarily.
    // Let the user see the new game before redirecting.
    setTimeout(function() {
      Android.redirect(game[0]); 
    }, 1000);
  }

};
//////

ctrl.init = function() {
  var games = [
    ctrl.gameFactory("http://html5-with-jibe.appspot.com/to25", "Number Race"),
  ];
  // Add all the hardcoded games gets called once.
  for (var i = 0; i < games.length; i++) {
    var game = games[i];
    ctrl.addGame(games[i]);
  }

  // Every time the page shows, check to see if we need to access
  // local storage to add new list items.
  // The modal to add items should have added items if possible.
  $('#thepage').live('pageshow', function() {
    // NOTE: must be called in this order.
    var game = ctrl.getGameFromAdd();
    if(game[0] && game[1]) {
      // Not a full base page reload, games already loaded.
      ctrl.saveGameFromAdd(game);
    } else {
      // Full base page reload, need to load games.
      ctrl.loadLocalGames();
    }
  });
}

// Use local storage to save a game.
ctrl.saveLocalGame = function(game) {
  // However save the list of games that should be reloaded
  // for this user's current state.
  var savedGamesStr = localStorage.getItem('savedGames');
  var savedGames = [];
  if (savedGamesStr) {
    savedGames = JSON.parse(savedGamesStr);
  }
  savedGames.push(game);
  localStorage.setItem('savedGames', JSON.stringify(savedGames));
};

// Use local storage to load the games as well.
ctrl.loadLocalGames = function() {
  // Add all previously saved games for this state.
  // NOTE: this must occur before checking for information
  // passed from the modal.
  var savedGamesStr = localStorage.getItem('savedGames');
  if (!savedGamesStr) {
    return;
  }
  var prevSavedGames = JSON.parse(savedGamesStr);
  for (var j = 0; j < prevSavedGames.length; j++) {
    ctrl.addGame(prevSavedGames[j]);
  } 
};

// Gets the value of the game that might have been added from
// the "Add" button.
ctrl.getGameFromAdd = function() {
  var pathToGame = localStorage.getItem('pathToGame');
  var nameOfGame = localStorage.getItem('nameOfGame');
  return ctrl.gameFactory(pathToGame, nameOfGame);
};

// Add a the new game that was added from the modal if it
// exists (we use local storage to determine that.
ctrl.saveGameFromAdd = function(game) {
  ctrl.addGame(game);
  ctrl.saveLocalGame(game);
  // Reset it so there can only be one path one name of game.
  localStorage.setItem('pathToGame', '');
  localStorage.setItem('nameOfGame', '');
  //TODO: Send message to friend he needs to update which games he has
  // as well.
  var state = {
    'action': 'giveGameAndRedirect',
    'data': game
  };
  jibe.sendMessage(JSON.stringify(state)); 
};


ctrl.addGame = function(game) {
  var a = $('<a href="#">' + game[1] + '</a>');
  a.click(function(evt) {
    // Send message to friend to redirect his application.
    var state = {
     'action': 'redirect',
     'data': game[0]
    };
    var message = JSON.stringify(state);
    jibe.sendMessage(message);
    setTimeout(function(){ 
      Android.redirect(game[0]); 
    }, 100);
  });
  var li = $('<li></li>');
  li.append(a);
  var list = $('#' + ctrl.listId);
  list.append(li);
  setTimeout(function() {
  list.listview('refresh');  // For dynamically styling buttons that get added.
  }, 2);
}

// Creates a game object.
ctrl.gameFactory = function(url, name) {
  return [url, name];
};

ctrl.init();
</script>
</body>
</html>
