<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="proj/games/popnumbers/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
  <script src="proj/games/popnumbers/popper.js" type="text/javascript"></script>
</head>
<body>
  <!--
  <div>
    <span class="circle1">1</span>
    <span class="circle2">2</span>
    <span class="circle3">3</span>
    <span class="circle2">4</span>
    <span class="circle1">5</span>
  </div>
  <div>
    <span class="circle1">10</span>
    <span class="circle2">6</span>
    <span class="circle3">7</span>
    <span class="circle2">9</span>
    <span class="circle1">8</span>
  </div>
  -->

  <div id="canvas"></div>
</body>
</html>
