.timer {
  top:0;
  right:0;
  position: absolute;
  float:right;
}

.circle {
  text-align: center;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  margin:5px;
}

.backarrow {
  /*background-size: 100px;
  background-image: url('/img/backarrow.png');*/
  padding-right: 10px;
}
